<div class="flex container" id="nav">
  <div class="links">
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("View Stylists", "Index", "Stylists")
    @Html.ActionLink("View Clients", "Index", "Clients")
    @Html.ActionLink("Add Stylist", "Create", "Stylists")
    @Html.ActionLink("Add Client", "Create", "Clients")
    @Html.ActionLink("Search", "Search", "Clients")
  </div>
</div>