<div class="nav">
  <div class="links">
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Stlyists", "Index", "Stylists")
    @Html.ActionLink("Clients", "Index", "Clients")
    @Html.ActionLink("Add Stylist", "Create", "Stylist")
    @Html.ActionLink("Add Client", "Create", "Client")
    @Html.ActionLink("Search", "Search", "Clients")
  </div>
</div>