@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<p class="view-title">Add New Client</p>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId", @ViewBag.StylistId, null, new { @class = "form-control", @required=true })
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @reqiured=true })
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @reqiured=true })
  </div>
  <input type="Submit" value="Add Client" class="btn btn-success" />
}